/*=================

..Universal Styling

==================*/

@font-face {
  font-family: 'Raleway';
  src: url('../font/Raleway.ttf') format('truetype');
}

@font-face {
  font-family: 'Commissioner';
  src: url('../font/Commissioner.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 96px;
  font-family: Raleway, sans-serif;
  text-align: center;
  color: #ffffff;
}

h2 {
  font-size: 72px;
  font-family: Raleway, sans-serif;
  text-align: center;
  margin: -45px;
  color: #8cd298;
}

h3 {
  font-size: 48px;
  font-family: Commissioner, sans-serif;
  text-align: center;
  margin-top: 20px;
  color: #666666;
}

p {
  font-size: 24px;
  font-family: Commissioner, sans-serif;
  max-width: 50%;
  margin: 10px 500px;
  text-align: center;
}

.portrait img {
    width: 175px;
}

.portrait img:hover {
  width:200px;
  transition: 1s;
}
/*==================

Home Page Styling

===================*/

header {
  width: 100%;
  background: #2f3941;
  padding: 80px;
  top: 0;
  position: fixed;
  z-index: 1;
}

nav {
  width: 100%;
  min-width: 600px;
  max-width: 1800px;
  text-align: right;
}

nav ul, nav ul li, nav ul li a {
  display: inline;
  list-style-type: none;
  text-decoration: none;
  color: white;
  margin-right: 0px;
  padding: 5px;
  font-size: 18px;
  font-weight: normal;
  font-family: 'Commissioner', sans-serif;
}

section.top-hero-image {
    position: relative;
}

.landing img {
    width: 100%;
    max-height: 100vh;
    object-fit: cover;
}

.landing-logo {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    text-shadow: 5px 5px 5px #8cd298;
}

.portrait {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 2;
}


/*=================

About Page Styling

==================*/

.bw-profile img {
    width: 100%;
    max-height: 100vh;
    object-fit: cover;
}

.about-text-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: 435px;
  }

.about {
  font-size: 48px;
  font-family: Commissioner, sans-serif;
  text-align: center;
  color: #8cd298;
  margin-top: 30px;
  text-shadow: 5px 5px 5px #666666;
}
 .about-text {
   font-size: 24px;
   font-family: Commissioner, sans-serif;
   max-width: 50%;
   margin: 50px 450px;
   text-align: left;
 }


 /*==================

 Portfolia Page Styling

 ===================*/

 section.portfolio img {
   width: 400px;
   margin: 80px 0px 300px 0px;
   display: inline-block;
   max-height: 560px;
   padding: 0px 25px;
 }

 .portfolio h3 {
   margin-top: 175px;
   padding-top: 50px;
   color: white;
 }

 .portfolio {
   background: black;
   text-align: center;
   max
 }



 /*==================

 Contact Page Styling

 ===================*/

.links:first-child:before {
    content: " » ";
}

 .bridge img {
  width: 100%;
  max-height: 100vh;
  object-fit: cover;
  margin-top: 90px;
 }

 .contact-steve {
   padding: 50px 0px;
   width: 630px;
   margin: 0 auto;
 }

 .contact-steve p{
   font-family: "Commissioner", sans-serif;
   text-align: center;
 }

 .contact-steve div {
   margin-bottom: 10px;
 }

 .contact-form h3::first-line {
  color: #8cd298;
}

 .label_input_wrap {
   vertical-align: top;
   display: block;
 }

 input,
 textarea {
   border: 1px solid black;
   padding: 10px 12px;
   font-family: "Commissioner", sans-serif;
 }

.submit input {
  background: #8cd298;
  color: #2f3941;
  font-size: 18px;
  padding: 4px 35px;
}

 footer ul li {
   display: inline;
 }

 ul {
   text-align: center;
 }

 .fa {
  padding: 5px;
  font-size: 50px;
  width: 50px;

  text-align: center;
  text-decoration: none;
  margin: 7px 4px;
}

.fa:hover {
    opacity: 0.7;
    color: #8cd298;
}

.fa-facebook {
  background: white;
  color: black;
}

.fa-twitter {
  background: white;
  color: black;
}

.fa-instagram {
  background: white;
  color: black;
}
